<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="nav">
    <a href="../"> Manufacturers </a>
    <a href="../cars/new"> Add Manufacturer </a>  
  </nav>
