<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="nav">
      <a href="/"> Home </a> 
    <a href="/cars/manufacturers"> Manufacturers </a>
    <a href="/manufacturers/new"> Add Manufacturer </a>  
  </nav>
  