<%- include("./partials/header", {title}) %>

<h1 class ="mainHead">Shilpa & Ciaran's Cars</h1>

<table>
  <thead>
    <tr class = "headings">
      <th>Manufacturer: </th>
      <th>Nationality: </th>
      <th>Created: </th>
      </tr>



<%- include("./partials/footer") %>