body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  background-image: url("https://i.imgur.com/9WCauiW.jpeg");
  background-size: 100%;
  
}

a {
  color: #000000;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: auto;
  padding: 15px;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.8)
}

.nav a {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.3em;
  margin-left: 5%;
}

.mainHead {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}

.headings {
  color: silver;
  background-color: rgba(0, 0, 0, 0.8);
}

.info {
  color: silver;
    background-color: rgba(0, 0, 0, 0.8);
}
button{
  border:none;
  border-radius: 0.5px;
  background-color: #000000;
  color:#ffffff;
  box-shadow: 5px 10px #6e6a6a;
}
.button-detail{
  font-size: 14px;
    text-decoration: none;
    background-color: #000000;
    padding: 4px 8px;
    border-radius: 2px;
    color: #ffffff;
}
.button-detail:hover{
  background-color: #374755;
}