<%- include('../partials/header', { title }) %>
    <h1 class ="mainHead">
        Welcome to Shilpa & Ciaran's Cars
    </h1>

    
    <h3 class ="info">
         Here you will find information on multiple car manufactuers and the models they make

        Once you select the manufacturer of your choice, you will find links to their models. Click on the model you are interested in and you will find even more information there!
    </h3>

    <%- include('../partials/footer') %>


    