<%- include("./partials/header", {title}) %>
    <table>
        <thead>
            <tr class="headings">
                <th>Manufacturer: </th>
                <th>Nationality: </th>
                <th>Created: </th>
            </tr>
        </thead>
    </table>
    <%- include("./partials/footer") %>